.date-picker {
    -fx-font: 12px "Segoe UI Black ";
    -fx-font-weight: bold;
}

.date-picker.text-field {
    -fx-font: 12px "Segoe UI Black ";
    -fx-font-weight: bold;
}
.date-picker {
    -fx-font: 10px "Segoe UI Black ";
    -fx-font-weight: bold;
}
.date-picker >. text-field {
    -fx-font: 12px "Segoe UI Black ";
    -fx-font-weight: bold;
    -fx-text-fill: green ;
}
.date-picker > .text-field  {
    -fx-alignment: center;
}